.photo-grid {
    margin: 0 auto;
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(4,1fr);
    width: calc(100% - 96px);
    max-width: 1184px;
    padding-top: 92px;
}

@media screen and (max-width: 1024px) {
    .photo-grid {
        grid-template-columns: repeat(3, 1fr);
        gap: 14px;
    }
}

@media screen and (max-width: 768px) {
    .photo-grid {
        grid-template-columns: repeat(2, 1fr);
        width: calc(100% - 48px);
        padding-top: 88px;
        gap: 16px;
    }
}

@media screen and (max-width: 320px) {
    .photo-grid {
        grid-template-columns: 1fr;
        width: calc(100% - 32px);
        padding-top: 64px;
        gap: 12px;
    }
}