.places {
    margin: 0 auto;
    width: fit-content;
    max-width: 984px;
    width: calc(100% - 96px);
    padding-top: 92px;
}

@media screen and (max-width: 768px) {
    .places {
        max-width: calc(100% - 48px);
    }
}

@media screen and (max-width: 642px) {
    .places {
        min-width: 100%;
    }
}

@media screen and (max-width: 320px) {
    .places {
        padding-top: 64px;
    }
}