.places__title {
    margin: 0;
    font-weight: 900;
    font-size: 72px;
    line-height: 1.06;
    color: #FFFFFF;
}

@media screen and (max-width: 768px) {
    .places__title {
        font-size: 42px;
        line-height: 1.1;
    }
}

@media screen and (max-width: 642px) {
    .places__title {
        padding-left: 16px;
    }
}

@media screen and (max-width: 420px) {
    .places__title {
        font-size: 10vw;
        line-height: 1.09;
    }
}