.lead__title {
    max-width: 720px;
    margin: 0 auto;
    font-weight: 900;
    font-size: 96px;
    line-height: 1.04;
    color: #FFFFFF;
    text-align: center;
    padding-bottom: 32px;
}

@media screen and (max-width: 768px) {
    .lead__title {
        font-size: 12.5vw;
        line-height: 1.1;
        width: 93.75%;
}
}

@media screen and (max-width: 600px) {
    .lead__title {
        padding-bottom: 5vw;
        width: 90%;
    }
}

